* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #080808;
  font-family: "Inter", sans-serif;
}

.banner {
  width: 100%;
  text-align: center; /* Ensure image centered horizontally */
  overflow: hidden; /* Hide cropped parts of image */
  max-height: 250px; /* Limit to image height */

  img {
    position: relative;
    left: 100%;
    margin-left: -200%;
  }
}

strong {
  font-weight: 600;
}

main {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 24px;
  padding: 0 24px;

  header {
    margin-top: 36px;
    display: flex;
    flex-flow: row;

    .column {
      display: flex;
      flex-flow: column;
    }

    img {
      width: 168px;
      height: 168px;
      margin-right: 36px;
    }

    h1 {
      margin-bottom: 0;
      font-weight: 500;
    }

    h3 {
      margin-top: 0;
      color: #777;
      font-weight: 500;
    }
  }

  hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
  }

  h2 {
    font-weight: 600;
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .person-tile {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 24px 0;
    margin-right: 24px;

    .photo {
      img {
        width: 84px;
        height: 84px;
        border-radius: 42px;
        margin-right: 16px;
        border: 1px solid #ddd;
      }

      display: flex;
      min-height: 72px;
      justify-content: center;
      align-items: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .name {
      font-size: 20px;
      text-align: center;
      white-space: nowrap;
    }

    .title {
      font-size: 18px;
      opacity: 0.5;
    }

    .content {
      color: #ddd;
    }
  }

  .research-tile {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 24px 0;
    margin-right: 24px;

    .photo {
      img {
        width: 168px;
        height: 168px;
        border-radius: 42px;
        margin-right: 16px;
        border: 1px solid #ddd;
      }

      display: flex;
      min-height: 72px;
      justify-content: center;
      align-items: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.9em;
      max-width: 300px;

      h3 {
        font-weight: 600;
        margin-bottom: 0;
      }

      h4 {
        font-weight: 400;
        margin: 0;
      }

      .bold {
        font-weight: 600;
        font-size: 1.1em;
      }
    }
  }

  footer {
    color: #ddd;
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .tile {
    width: 700px !important;
  }
}

@media only screen and (max-width: 746px) {
  header {
    width: 100%;
    flex-flow: column !important;
    align-items: center;
    justify-content: center;
  }

  .column {
    align-items: center;
  }

  .optional {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .person-tile {
    width: 100% !important;
    margin: 24px 0 !important;
  }

  .research-tile {
    margin: 24px 0 !important;
    width: 100% !important;
    max-width: 746px !important;

    .photo {
      width: 300px !important;
    }
  }
}
