.person-tile {
  display: flex;
  align-items: center;
  width: 320px;
  max-width: 320px;
  margin: 36px 0;
  margin-top: 0;
}

.person-tile .photo {
  display: flex;
  min-height: 72px;
  justify-content: center;
  align-items: center;
}

.person-tile .photo img {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  margin-right: 16px;
  border: 2px solid #ddd;
}

.person-tile .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-tile .project {
  font-size: 0.83em;
}

.person-tile .email {
  font-size: 0.83em;
}

.research-tile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  max-width: 320px;
  margin: 24px 0;
  margin-top: 0;
}

.research-tile {
  text-decoration: none;
  color: inherit;
  min-height: 264px !important;
}

.research-tile .photo {
  display: flex;
  min-height: 72px;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  border: 1px solid #ddd;
  border-radius: 42px;
  overflow: hidden;
}

.research-tile .photo img {
  width: 152px;
  margin: auto 0;
  border-radius: 21px;
}

.research-tile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  max-width: 252px;
}

.research-tile .info h3 {
  font-weight: 600;
  margin-bottom: 0;
  color: inherit;
}

.research-tile .info h4 {
  font-weight: 400;
  margin: 0;
}

.research-tile .info .bold {
  font-weight: 600;
  font-size: 1.1em;
}
